API_KEY="RgcvuCoKJiBgqVod7PgrcSNPzdTt51jP"
SSH_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCgcC7IBAfwrO//9oIsW/smEwb54iguG0AHFxPuBvJDQ6K8bSTBTZ2Lc/lnyVUHINIhy30/x1o3f11quaBDkarhX/OJ4xaxFO1/C+nmgSfqCLE3B8vv/oZT6nZ6dstH4Xksp7fgDi3TeYE0uWm/zLiV7qT7Ovvn0PSaGJzK07gw8ZkufynBrAS++qImTr7PX2SuiXC/E2p38xYXOECtX4In2JE5LSFnAWEpdgExEj0KlJUuc7sfWmNlmYJ7OK5331ej6BFVKoTaExMmhxpor91YmUeZdJftNgDYNzdos7oLNrt5/DiicpkDr8Ton/1Yn4D7+Y5qJi8nxuoP6dsxWZhqsFAE+XewyRS6p6UhkhX+gJlKXmxL/LhZma6GTJtfID4s7M0htgmeQNsdEHyHZZQaDOy2juaRf3VdM3VgM8CNS3DwOj43vc5YTkLRY5YqM5+azxgordH7gSlXD7kFqcSAuj2jERA0KGA3ceQFnAg0LbgCMfNAMFMx4+53fFg/Zmc= home@LAPTOP-CO0UA0U3"